@model Caso_Estudio_1.Models.Entities.Citas


<h3 class="mb-4">Detalle de la Cita</h3>

@if (Model == null)
{
    <p class="text-warning">No se encontró la cita seleccionada....</p>
}
else
{
    <div class="card bg-dark text-white mb-4 p-3">
        <div class="card-body">
            <h5 class="card-title mb-3">Información de la Cita</h5>

            <p><strong>Id:</strong> @Model.Id</p>
            <p><strong>Nombre de la Persona:</strong> @Model.NombreDeLaPersona</p>
            <p><strong>Identificación:</strong> @Model.Identificacion</p>
            <p><strong>Teléfono:</strong> @Model.Telefono</p>
            <p><strong>Correo:</strong> @Model.Correo</p>
            <p><strong>Fecha de Nacimiento:</strong> @Model.FechaNacimiento.ToString("yyyy-MM-dd")</p>
            <p><strong>Dirección:</strong> @Model.Direccion</p>
            <p><strong>Fecha de la Cita:</strong> @Model.FechaDeLaCita.ToString("yyyy-MM-dd")</p>
            <p><strong>Fecha de Registro:</strong> @Model.FechaDeRegistro.ToString("yyyy-MM-dd")</p>
            <p><strong>Monto Total:</strong> ₡@Model.MontoTotal</p>
            <p><strong>Servicio:</strong> @Model.IdServicio</p>
        </div>

        <div class="mt-3">
            <a class="btn btn-dark text-white text-decoration-none" asp-action="List">Volver a la Lista</a>
        </div>
    </div>
}
